.tehnolog {
  @include padding-vertical-50();

  .tehnolog-wrap {
    @include container();

    .tehnolog-form {
      display: grid;
      grid-template-columns: calc(50% - 10px)  calc(50% - 10px);
      gap: 20px;
      background-color: $color-light-green;
      border-radius: 34px;
      form {
        padding: 60px 70px;
        display: grid;
        grid-auto-flow: row;
        justify-content: center;
        align-content: center;
        gap: 15px;
        border-radius: 34px;

        .tehnolog-form-title {
          font-family: 42 dot Sans;
          font-weight: 400;
          font-size: 34px;
          letter-spacing: 0%;
          max-width: 440px;

        }

        input {
          width: 440px;
          //height: 60px;
          padding: 20px 35px;
          border-radius: 18px;
          border: none;
          font-family: 42 dot Sans;
          font-weight: 300;
          font-size: 27.82px;
          line-height: 34.78px;
          letter-spacing: 0%;

        }
      }

      .tehnolog-img {
        img {
          object-fit: cover;
          max-width: 100%;
          height: 100%;
        }
      }


      .banner-btn {
        display: flex;
        cursor: pointer;
        .btn-light-green{
          background: $color-light-dark;
          width: calc(510px - 64px);
          height: 59px;
          span{
            color: white;
          }
        }
        &:after {
          content: "";
          background: url("../img/Arrowlight.svg") center no-repeat;
          width: 60px;
          height: 60px;
          background-size: 16px !important;
          display: flex;
          justify-content: center;
          align-content: center;
          background-color: $color-light-dark;
          border-radius: 100px;
        }
      }
    }


  }
}






