.tehnolog {
  @include padding-vertical-50();

  .tehnolog-wrap {
    @include container();

    .tehnolog-form {
      display: grid;
      grid-template-columns: calc(50% - 10px)  calc(50% - 10px);
      gap: 20px;
      background-color: $color-light-green;
      border-radius: 34px;
      form {
        padding: 60px 70px;
        display: grid;
        grid-auto-flow: row;
        justify-content: center;
        align-content: center;
        gap: 15px;
        border-radius: 34px;

        .tehnolog-form-title {
          font-family: 42 dot Sans;
          font-weight: 400;
          font-size: 34px;
          letter-spacing: 0%;
          max-width: 440px;

        }

        input {
          width: 440px;
          //height: 60px;
          padding: 20px 35px;
          border-radius: 18px;
          border: none;
          font-family: 42 dot Sans;
          font-weight: 300;
          font-size: 27.82px;
          line-height: 34.78px;
          letter-spacing: 0%;

        }
      }

      .tehnolog-img {
        img {
          object-fit: cover;
          max-width: 100%;
          height: 100%;
        }
      }


      .banner-btn {
        display: flex;
        cursor: pointer;
        .btn-light-green{
          background: $color-light-dark;
          width: calc(510px - 64px);
          height: 59px;
          span{
            color: white;
          }
        }
        &:after {
          content: "";
          background: url("../img/Arrowlight.svg") center no-repeat;
          width: 60px;
          height: 60px;
          background-size: 16px !important;
          display: flex;
          justify-content: center;
          align-content: center;
          background-color: $color-light-dark;
          border-radius: 100px;
        }
      }
    }


  }
  @media #{$mobile-landscape-only}{
    .tehnolog-wrap {
      @include container();

      .tehnolog-form {
        display: grid;
        grid-template-columns: auto;
        gap: 10px;
        background-color: transparent;

        form {
          background-color: $color-light-green;
          order: 2;
          gap: 8px;
          border-radius: 20px;
          padding: 20px 15px 30px 15px;

          .tehnolog-form-title{
            font-family: 42dot Sans;
            font-weight: 400;
            font-size: 16px;
            letter-spacing: 0;
            width: 100%;
            text-align: center;
            margin: 0 auto;
            line-height: 20px;
          }
          .tehnolog-form-subtitle{
            font-size: 10px;
            width: 90%;
            text-align: center;
            margin: 0 auto;
          }
          .tehnolog-form-name,.tehnolog-form-phone,.tehnolog-form-submit{
            width: 100%;
            display: flex;
            justify-content: center;
          }

          input{
            font-family: 42dot Sans;
            font-weight: 300;
            font-size: 13px;
            line-height: 20px;
            letter-spacing: 0%;
            padding: 0 20px;
            width: 80%;
            border-radius: 10px;
            height: 42px;

          }
          .banner-btn{
            display: flex;
            cursor: pointer;
            width: calc(80% + 40px);
            height: 39px;
            .btn-light-green {
              width: 100%;
              height: 39px;
            }
            &:after{
              content: "" ;
              background: url("../img/Arrowlight.svg")  center no-repeat;
              width: 45px;
              height: 39px;
              background-size: 14px !important;
              display: flex;
              justify-content: center;
              align-content: center;
              background-color: $color-light-dark;
              border-radius:100px ;
            }
          }
        }
        .tehnolog-img{
          order: 1;
          //object-fit: cover;
          width: 100%;
          max-height: 300px;
          img{
            width: 100%;
            border-radius: 20px;
          }
        }
      }
    }
  }

  @media #{$tablet-only}{
    .tehnolog-wrap {
      @include container();

      .tehnolog-form {
        display: grid;
        grid-template-columns: auto;
        gap: 10px;

        form {
          order: 2;
          gap: 5px;
          border-radius: 10px;
          padding: 30px;

          .tehnolog-form-title{
            font-family: 42dot Sans;
            font-weight: 400;
            font-size: 15px;
            letter-spacing: 110%;
            width: 60%;
            text-align: center;
            margin: 0 auto;
          }
          .tehnolog-form-subtitle{
            font-size: 10px;
            width: 70%;
            text-align: center;
            margin: 0 auto;
          }
          .tehnolog-form-name,.tehnolog-form-phone,.tehnolog-form-submit{
            width: 100%;
            display: flex;
            justify-content: center;
          }

          input{
            font-family: 42dot Sans;
            font-weight: 300;
            font-size: 13px;
            line-height: 20px;
            letter-spacing: 0%;
            padding: 0 20px;
            height:42px;
            width: 50%;
            border-radius: 10px;

          }
          .banner-btn{
            display: flex;
            cursor: pointer;
            width: calc(50% + 40px);
            height: 45px;
            .btn-light-green {
              width: 100%;
              height: 45px;
            }
            &:after{
              content: "" ;
              background: url("../img/Arrowlight.svg")  center no-repeat;
              //width: 45px!important;
              height: 45px;
              background-size: 14px !important;
              display: flex;
              justify-content: center;
              align-content: center;
              background-color: $color-light-dark;
              border-radius:100px ;
            }
          }
        }
        .tehnolog-img{
          order: 1;
          //object-fit: cover;
          width: 100%;
          max-height: 300px;
          img{
            width: 100%;
            border-radius: 20px;
          }
        }
      }
    }
  }
  @media #{$tablet-landscape-only}{
    .tehnolog-wrap {
      @include container();

      .tehnolog-form {
        display: grid;
        grid-template-columns: auto;
        gap: 10px;

        form {
          order: 2;
          gap: 10px;
          border-radius: 20px;
          padding: 30px;

          .tehnolog-form-title{
            font-family: 42dot Sans;
            font-weight: 400;
            font-size: 20px;
            letter-spacing: 110%;
            width: 90%;
            text-align: center;
            margin: 0 auto;

          }
          .tehnolog-form-subtitle{
            font-size: 14px;
            width: 90%;
            text-align: center;
            margin: 0 auto;

          }
          .tehnolog-form-name,.tehnolog-form-phone,.tehnolog-form-submit{
            width: 100%;
            display: flex;
            justify-content: center;
          }

          input{
            font-family: 42dot Sans;
            font-weight: 300;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 0%;
            padding: 0 20px;
            height:42px;
            width: 50%;

          }
          .banner-btn{
            display: flex;
            cursor: pointer;
            width: calc(50% + 40px);
            height: 45px;
            span{
              font-size: 16px!important;
            }
            .btn-light-green {
              width: 100%;
              height: 45px;
            }
            &:after{
              content: "" ;
              background: url("../img/Arrowlight.svg")  center no-repeat;
              width: 45px;
              height: 45px;
              background-size: 14px !important;
              display: flex;
              justify-content: center;
              align-content: center;
              background-color: $color-light-dark;
              border-radius:100px ;
            }
          }
        }
        .tehnolog-img{
          order: 1;
          //object-fit: cover;
          width: 100%;
          max-height: 300px;
          img{
            width: 100%;
            border-radius: 20px;
          }
        }
      }
    }
  }
  @media #{$desktop-only}{
    .tehnolog-wrap {
      @include container();

      .tehnolog-form {
        display: grid;
        grid-template-columns: calc(50% - 10px)  calc(50% - 10px);
        gap: 10px;

        form {
          gap: 10px;
          border-radius: 20px;
          .tehnolog-form-title{
            font-family: 42dot Sans;
            font-weight: 400;
            font-size: 20px;
            letter-spacing: 110%;
            width: 90%;
          }
          .tehnolog-form-subtitle{
            font-size: 14px;
            width: 90%;
          }
          input{
            font-family: 42dot Sans;
            font-weight: 300;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 0%;
            padding: 0 20px;
            height:42px;
            width: 70%;


          }
          .banner-btn{
            display: flex;
            cursor: pointer;
            .btn-light-green {
              width: 70%;
              height: 45px;
              span{
                font-size: 20px!important;
              }
            }
            &:after{
              content: "" ;
              background: url("../img/Arrowlight.svg")  center no-repeat;
              width: 45px;
              height: 45px;
              background-size: 14px !important;
              display: flex;
              justify-content: center;
              align-content: center;
              background-color: $color-light-dark;
              border-radius:100px ;
            }
          }

        }
        .tehnolog-img{
          img{
            border-radius: 20px;
          }
        }
      }
    }
  }
}






