.faq {
  @include container();

  .faq__blocks {
    display: grid;
    grid-auto-flow: column;
    gap: 30px;
    .faq-container {
      .faq-container-title{
        font-family: 42dot Sans;
        font-weight: 500;
        font-size: 40px;
        line-height: 110.00000000000001%;
        letter-spacing: 0%;
        text-align: center;
        border: 1.73px solid var(--Neutral-800, #3A3A3A);
        border-radius: 173px;
        padding: 16px;
        margin-bottom: 25px;
      }
      .faq-item {
        margin-bottom: 15px;

        .faq-question {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 15px 30px;
          background: $color-background-dark-faq;
          cursor: pointer;
          border-radius: 15px;

          h3 {
            display: grid;
            gap: 20px;
            grid-auto-flow: column;
            align-items: center;
            max-width: 85%;
            margin: 0;
            font-size: 18px;
            color: $color-light-dark;
            font-family: 42dot Sans;
            font-weight: 400;
            font-size: 26px;
            line-height: 34.69px;
            letter-spacing: 0%;

            span{
              font-family: 42dot Sans;
              font-weight: 400;
              font-size: 40px;
              line-height: 34.69px;
              letter-spacing: 0%;

            }
          }

          .faq-toggle {
            font-size: 60px;
            transition: transform 0.3s;
            background-color: $color-light-green;
            width: 64px;
            height: 64px;
            border-radius: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }

        .faq-answer {
          margin: 20px 0;
          padding:40px 40px ;
          border-radius: 15px;
          display: none;
          
          transition: max-height 0.3s;
          background: $color-background-dark-faq;

          p {
            font-size: 26px;
            margin: 0;
            color: $color-light-dark;
          }
        }

        &.active {
          .faq-toggle {
            transform: rotate(45deg);

          }

          .faq-answer {
            max-height: 100vh;
            display: block;
          }
        }
      }
    }
  }
  @media #{$mobile-landscape-only}{
    .faq__blocks {
      display: grid;
      grid-auto-flow: row;
      gap: 30px;
      .faq-container {
        .faq-container-title {
          font-family: 42 dot Sans;
          font-weight: 500;
          font-size: 13px;
          border-radius: 72px;
          padding: 10px;
          margin-bottom: 10px;
        }

        .faq-item {
          margin-bottom: 10px;
          .faq-question {
            padding: 10px;
            h3 {
              display: grid;
              gap: 10px;
              grid-auto-flow: column;
              align-items: center;
              max-width: 85%;
              font-size: 11px;
              line-height: 14px;
              letter-spacing: 0%;
              span {
                font-size: 17px;
              }

            }
            .faq-toggle {
              font-size: 20px;
              transition: transform 0.3s;
              width: 28px;
              height: 28px;

            }
          }
          .faq-answer {
            margin: 10px 0;
            padding:20px 15px ;
            border-radius: 15px;
            display: none;

            transition: max-height 0.3s;
            background: $color-background-dark-faq;

            p {
              font-size: 16px;

            }
          }
          .faq-toggle {
          }
        }
      }
    }
  }
  @media #{$tablet-only}{
    .faq__blocks {
      display: grid;
      grid-auto-flow: row;
      gap: 30px;
      .faq-container {
        .faq-container-title {
          font-family: 42 dot Sans;
          font-weight: 500;
          font-size: 13px;
          border-radius: 72px;
          padding: 10px;
          margin-bottom: 10px;
        }

        .faq-item {
          margin-bottom: 10px;
          .faq-question {
            padding: 10px;
            h3 {
              display: grid;
              gap: 10px;
              grid-auto-flow: column;
              align-items: center;
              max-width: 85%;
              font-size: 11px;
              line-height: 14px;
              letter-spacing: 0%;
              span {
                font-size: 17px;
              }

            }
            .faq-toggle {
              font-size: 20px;
              transition: transform 0.3s;
              width: 28px;
              height: 28px;

            }
          }
          .faq-answer {
            margin: 10px 0;
            padding:20px 15px ;
            border-radius: 15px;
            display: none;

            transition: max-height 0.3s;
            background: $color-background-dark-faq;

            p {
              font-size: 16px;

            }
          }
          .faq-toggle {
          }
        }
      }
    }
  }
  @media #{$tablet-landscape-only}{
    .faq__blocks {
      display: grid;
      grid-auto-flow: row;
      gap: 30px;
      .faq-container {
        .faq-container-title {
          font-family: 42 dot Sans;
          font-weight: 500;
          font-size: 22px;
          border-radius: 100px;
          padding: 16px;
          margin-bottom: 10px;
        }

        .faq-item {
          margin-bottom: 10px;
          .faq-question {
            padding: 15px;
            h3 {
              display: grid;
              gap: 10px;
              grid-auto-flow: column;
              align-items: center;
              max-width: 85%;
              font-size: 16px;
              line-height: 20px;
              letter-spacing: 0%;
              span {
                font-size: 24px;
              }

            }
            .faq-toggle {
              font-size: 30px;
              transition: transform 0.3s;
              width: 38px;
              height: 38px;

            }
          }
          .faq-answer {
            margin: 10px 0;
            padding:30px 15px ;
            border-radius: 15px;
            display: none;

            transition: max-height 0.3s;
            background: $color-background-dark-faq;

            p {
              font-size: 16px;

            }
          }
          .faq-toggle {
          }
        }
      }
    }
  }
  @media #{$desktop-only}{
    .faq__blocks {
      display: grid;
      grid-auto-flow: column;
      gap: 10px;
      .faq-container {
        .faq-container-title {
          font-family: 42 dot Sans;
          font-weight: 500;
          font-size: 22px;
          border-radius: 100px;
          padding: 16px;
          margin-bottom: 25px;
        }

        .faq-item {
          margin-bottom: 10px;
          .faq-question {
            padding: 15px;
            h3 {
              display: grid;
              gap: 10px;
              grid-auto-flow: column;
              align-items: center;
              max-width: 85%;
              font-size: 16px;
              line-height: 20px;
              letter-spacing: 0%;
              span {
                font-size: 24px;
              }

            }
            .faq-toggle {
              font-size: 30px;
              transition: transform 0.3s;
              width: 38px;
              height: 38px;

            }
            }
          .faq-answer {
            margin: 10px 0;
            padding:30px 15px ;
            border-radius: 15px;
            display: none;

            transition: max-height 0.3s;
            background: $color-background-dark-faq;

            p {
              font-size: 16px;

            }
          }
            .faq-toggle {
          }
        }
      }
    }
  }
}