@media #{$mobile-landscape-only}{
  .modal {
    background: $color-background-dark-all;
    border-radius: 8px;
    padding: 30px;
    width: 100%;
    max-width: calc(285px - 60px);
    height: calc(288px - 60px);
    &-close {
      top: 10px;
      right: 10px;
      width: 32px;
      height: 32px;
    }
    &-title {
      font-size: 21px;
      line-height: 16px;
      margin: 10px;
    }
  }
  .modal-form {
    display: flex;
    flex-direction: column;
    gap: 2px;

  }
  .form-group-title {
    font-size: 17px;
    line-height: 17px;
  }
  .form-group-main{
    gap: 0;
    flex-direction: column;

    label{

      font-size: 16px;

    }
  }
  .form-notice {
    font-size: 10px;
    max-width: 100%;

    .form-notice-text{
      margin-left: 5px;
    }
  }
}
@media #{$tablet-only}{
  .modal {
    background: $color-background-dark-all;
    border-radius: 8px;
    padding: 30px;
    width: 100%;
    max-width: calc(334px - 60px);
    height: calc(276px - 60px);
    &-close {
      top: 10px;
      right: 10px;
      width: 32px;
      height: 32px;
    }
    &-title {
      font-size: 21px;
      line-height: 16px;
      margin: 10px;
    }
  }
  .modal-form {
    display: flex;
    flex-direction: column;
    gap: 2px;

  }
  .form-group-title {
    font-size: 17px;
    line-height: 17px;
  }
  .form-group-main{
    gap: 0;
    flex-direction: column;

    label{

      font-size: 16px;

    }
  }
  .form-notice {
    font-size: 10px;
    max-width: 100%;

    .form-notice-text{
      margin-left: 5px;
    }
  }
}
@media #{$tablet-landscape-only}{
  .modal {
    background: $color-background-dark-all;
    border-radius: 8px;
    padding: 30px;
    width: 100%;
    max-width: calc(416px - 60px);
    height: calc(344px - 60px);
    &-title {
      font-size: 21px;
      line-height: 16px;
      margin: 10px;
    }
  }
  .modal-form {
    display: flex;
    flex-direction: column;
    gap: 7px;


  }
  .form-group-title {
    font-size: 17px;
    line-height: 17px;
  }
  .form-group-main{
    gap: 0;
    flex-direction: column;

    label{

      font-size: 16px;

    }
  }
  .form-notice {
    font-size: 10px;
    max-width: 80%;

    .form-notice-text{
      margin-left: 5px;
    }
  }
}
@media #{$desktop-only}{
  .modal {
    background: $color-background-dark-all;
    border-radius: 8px;
    padding: 30px;
    width: 100%;
    max-width: calc(416px - 60px);
    height: calc(344px - 60px);
    &-title {
      font-size: 26px;
      line-height: 20px;
      margin: 10px;
    }
    .modal-form{
      gap: 8px;
    }
  }
  .form-group-title {
    font-size: 20px;
    line-height: 20px;
  }
  .form-group-main{
    gap: 5px;

    label{

      font-size: 16px;

    }
  }
  .form-notice {
    font-size: 13px;
    max-width: 100%;

    .form-notice-text{
      margin-left: 5px;
    }
  }
}