.thx-modal{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;

  &.active {
    opacity: 1;
    visibility: visible;
  }
  .thx-modal-wrap{
    margin: 0 auto;
    width: 555px;
    height: 222px;
    background-color: $color-light-green;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    .thx-modal-content{
      display: flex;
      max-width: 70%;
      flex-direction: column;
      justify-content: center;
      align-content: center;

      font-family: 42dot Sans;
      font-weight: 700;
      font-size: 30px;
      line-height: 110.00000000000001%;
      letter-spacing: 0%;
      text-align: center;
      span{
        font-family: 42dot Sans;
        font-weight: 400;
        font-size: 30px;
        line-height: 110.00000000000001%;
        letter-spacing: 0%;
        text-align: center;

      }
    }



  }


  @media #{$mobile-landscape-only} {
    margin: 0 auto;
    .thx-modal-wrap{
      width: 100%;
      max-width: 285px;
      height: 129px;
      background-color: $color-light-green;
      border-radius: 20px;

      padding: 0 0;
      display: flex;
      justify-content: center;
      align-items: center;
      .thx-modal-content{
        max-width: 100%;
        font-family: 42dot Sans;
        font-weight: 700;
        font-size: 16px;
        line-height: 110.00000000000001%;
        letter-spacing: 0%;
        text-align: center;
        span {

          font-size: 16px;
        }

      }
    }
  }
  @media #{$tablet-only} {
    margin: 0 auto;
    .thx-modal-wrap{
      width: 324px;
      height: 167px;
      background-color: $color-light-green;
      border-radius: 20px;

      padding: 0 0;
      display: flex;
      justify-content: center;
      align-items: center;
      .thx-modal-content{
        max-width: 100%;
        font-family: 42dot Sans;
        font-weight: 700;
        font-size: 20px;
        line-height: 110.00000000000001%;
        letter-spacing: 0%;
        text-align: center;
        span {

          font-size: 20px;
        }

      }
    }
  }
  @media #{$tablet-landscape-only} {
    margin: 0 auto;
    .thx-modal-wrap{
      width: 416px;
      height: 222px;
      background-color: $color-light-green;
      border-radius: 20px;

      padding: 0 0;
      display: flex;
      justify-content: center;
      align-items: center;
      .thx-modal-content{
        max-width: 80%;
        font-family: 42dot Sans;
        font-weight: 700;
        font-size: 26px;
        line-height: 110.00000000000001%;
        letter-spacing: 0%;
        text-align: center;
        span {

          font-size: 26px;
        }
      }
    }
  }
  @media #{$desktop-only} {
    margin: 0 auto;
    .thx-modal-wrap{
      width: 416px;
      height: 222px;
      background-color: $color-light-green;
      border-radius: 20px;

      padding: 0 0;
      display: flex;
      justify-content: center;
      align-items: center;
      .thx-modal-content{
        max-width: 80%;
        font-family: 42dot Sans;
        font-weight: 700;
        font-size: 26px;
        line-height: 110.00000000000001%;
        letter-spacing: 0%;
        text-align: center;

      }
    }

  }
}