.comments{
  .comments-section {
    @include container();
    overflow: hidden;
  }



  .comments-container {

  }

  .comment-card {
    background: $color-background-dark-faq;
    border-radius: 30px;
    padding: 25px 25px 100px 25px;
    //width: calc(33.333% - 20px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .comment-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  }

  .user-info {
    display: grid;
    grid-template-columns: 150px auto;
    grid-template-rows: auto auto;
    justify-items: start;
    .user-avatar{
      grid-row: span 2;
    }

  }

  .user-avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
    border: 3px solid #f0f0f0;
  }

  .user-name {
    margin-bottom: 8px;
    color: #333;
    align-self: end;


  }

  .rating {
    color: #ffc107;
    font-size: 26px;
    margin-bottom: 5px;
  }

  .comment-text {
    font-family: 42dot Sans;
    font-weight: 300;


  }

  @media #{$mobile-landscape-only}{
    .user-info {
      display: grid;
      grid-template-columns: 60px auto;
      grid-template-rows: auto auto;
      justify-items: start;
      img{
        width: 48px;
        height: 48px;
      }
      .user-avatar{
        grid-row: span 2;
      }

    }
    .user-name{
      margin-bottom: 0!important;
    }

    .comment-text {
      font-family: 42dot Sans;
      font-weight: 300;

      font-size: 8px;
      line-height: 110.00000000000001%;
      letter-spacing: 0%;


    }
    .rating {
      color: #ffc107;
      font-size: 7px;
      margin-bottom: 15px!important;
    }
    .comment-card {
      border-radius: 10px!important;
      padding: 10px!important;

    }
  }
  @media #{$tablet-only}{
    .user-info {
      display: grid;
      grid-template-columns: 45px auto;
      grid-template-rows: auto auto;
      justify-items: start;
      img{
        width: 30px;
        height: 30px;
      }
      .user-avatar{
        grid-row: span 2;
      }

    }
    .user-name{
      margin-bottom: 0!important;
    }

    .comment-text {
      font-family: 42dot Sans;
      font-weight: 300;

      font-size: 8px;
      line-height: 110.00000000000001%;
      letter-spacing: 0%;


    }
    .rating {
      color: #ffc107;
      font-size: 6px;
      margin-bottom: 15px!important;
    }
    .comment-card {
      border-radius: 10px!important;
      padding: 15px!important;

    }
  }
  @media #{$tablet-landscape-only}{
    .user-info {
      display: grid;
      grid-template-columns: 60px auto;
      grid-template-rows: auto auto;
      justify-items: start;
      img{
        width: 48px;
        height: 48px;
      }
      .user-avatar{
        grid-row: span 2;
      }

    }
    .comment-text {
      font-family: 42dot Sans;
      font-weight: 300;

      font-size: 12px;
      line-height: 110.00000000000001%;
      letter-spacing: 0%;


    }
    .rating {
      color: #ffc107;
      font-size: 10px;
      margin-bottom: 5px;
    }
    .comment-card {

      padding: 15px;

    }
  }
  @media #{$desktop-only}{
    .user-info {
      display: grid;
      grid-template-columns: 100px auto;
      grid-template-rows: auto auto;
      justify-items: start;
      img{
        width: 70px;
        height: 70px;
      }
      .user-avatar{
        grid-row: span 2;
      }

    }
    .rating {
      color: #ffc107;
      font-size: 16px;
      margin-bottom: 5px;
    }
    .comment-card {

      padding: 25px 25px 25px 25px;

    }
  }
}
