.wrong{
  @include container();
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
  padding: 150px 0;

  h1{
    color: black;
  }
  .banner-btn{
    display: flex;
    cursor: pointer;
    margin-bottom: 100px;
    .btn-light-green{
      background-color: $color-light-dark;
    }
    span{
      color: $color-light-green;
    }
    &:after{
      content: "";
      background: url("../img/arrowgreen.svg")  center no-repeat;
      width: 60px;
      height: 60px;
      display: flex;
      justify-content: center;
      align-content: center;
      background-color: $color-light-dark;
      border-radius:100px ;
    }
  }

}