.prices {
  .prices-wrap {
    @include container();

    table {
      border-collapse: collapse;
      width: 100%;

      thead {
        background-color: $color-light-green;
        border-radius: 14px;

        tr {
          background-color: $color-light-green;

          th {
            background-color: $color-light-green;
            padding: 30px;
            text-align: start;

          }

        }

      }

      tr:nth-child(2n + 1) {
        background: var(--Neutral-100, #F1F1F1);

      }

      tr:first-child {

        td {
          padding: 30px;
        }

        td:first-child {


        }

      }

      tr {
        padding: 30px;

        td {
          padding: 30px;
          //border-radius: 13px;
        }

        td:nth-child(4) {
          display: flex;
          justify-content: flex-end;
        }
      }
    }

    .prices-text {
      padding-top: 30px;
    }
  }
  @media #{$mobile-landscape-only}{
    .prices-wrap {
      @include container();

      table {
        border-collapse: collapse;
        width: 100%;

        thead {
          background-color: $color-light-green;
          border-radius: 14px;

          tr {
            padding: 0!important;
            margin: auto;
            vertical-align: center;
            th{
              padding: 5px!important;
              text-align: center;
            }
            th:nth-child(2),:nth-child(3){
              display: none;
            }
            td:nth-child(2),:nth-child(3){
              display: none;
            }
          }
        }
        tr {
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding: 10px!important;
          td{
            text-align: center;
            padding: 10px!important;
            display: flex;
            justify-content: center!important;
          }

        }
        tr {

          th:nth-child(2),:nth-child(3){
            display: none;
          }
          td:nth-child(2),:nth-child(3){
            display: none;
          }
        }
      }
    }
  }
  @media #{$tablet-only}{
    .prices-wrap {
      @include container();

      table {
        border-collapse: collapse;
        width: 100%;

        thead {
          background-color: $color-light-green;
          border-radius: 14px;

          tr {

            th{
              padding: 15px!important;
            }
            th:nth-child(2),:nth-child(3){
              display: none;
            }
            td:nth-child(2),:nth-child(3){
              display: none;
            }
          }
        }
        tr {
          td{
            padding: 15px!important;
          }

        }
        tr {

          th:nth-child(2),:nth-child(3){
            display: none;
          }
          td:nth-child(2),:nth-child(3){
            display: none;
          }
        }
      }
    }
  }
  @media #{$tablet-landscape-only}{
    .prices-wrap {
      @include container();

      table {
        border-collapse: collapse;
        width: 100%;

        thead {
          background-color: $color-light-green;
          border-radius: 14px;

          tr {

            th{
              padding: 15px!important;
            }
            th:nth-child(2),:nth-child(3){
              display: none;
            }
            td:nth-child(2),:nth-child(3){
              display: none;
            }
          }
        }
        tr {
          td{
            padding: 15px!important;
          }

        }
        tr {

          th:nth-child(2),:nth-child(3){
            display: none;
          }
          td:nth-child(2),:nth-child(3){
            display: none;
          }
        }
      }
    }
  }
}