body {
  //font-size: $font-primary-size;
  font-size: 26px;
  font-family: $font-primary-family;
  //font-family: Lineseed2 ;
  line-height: 110.00000000000001%;
  //line-height: 20px;
  color: $color-light-dark;
  //color: $color-text-main;
  background-color: $color-white;
  //min-width: 320px;
  //color:#1C1230;
  display: flex;
  flex-direction: column;
  @media #{$desktop-only} {
    font-size: 16px;

  }
  @media #{$tablet-landscape-only} {
    font-size: 14px;

  }
  @media #{$tablet-only} {
    font-size: 12px;

  }
  @media #{$mobile-landscape-only} {
    font-size: 10px;

  }



}
p{
  margin: 0;
}
.btn-light-green{
  display: grid;
  justify-content: center;
  align-content: center;
  width: 314px;
  height: 59px;
  border-radius: 100px;
  background: $color-light-green;
  span{
    font-family: 42dotSans;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #333130;
  }
  @media #{$desktop-only}{
      display: grid;
      justify-content: center;
      align-content: center;
      width: 203px;
      height: 45px;
  }
  @media #{$tablet-landscape-only}{
    width: 203px;
    height: 45px;
  }
  @media #{$tablet-only}{
    width: 148px;
    height: 32px;
  }
  }

.banner-btn {
  display: flex;
  cursor: pointer;

  .btn-light-green {
    display: grid;
    justify-content: center;
    align-content: center;
    width: 314px;
    height: 59px;
    border-radius: 100px;
    background: $color-light-green;

    span {
      font-family: 42 dot Sans;
      font-weight: 400;
      font-size: 20px;
      line-height: 20px;
      color: #333130;
    }
  }

  &:after {
    content: "";
    background: url("../img/btnarrow.svg") center no-repeat;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: $color-light-green;
    border-radius: 100px;
  }
  @media #{$desktop-only}{

      .btn-light-green {
        display: grid;
        justify-content: center;
        align-content: center;
        width: 248px;
        height: 45px;
      }
      &:after {

        width: 45px;
        height: 45px;

      }
    }
  @media #{$tablet-landscape-only}{
    .btn-light-green {
      display: grid;
      justify-content: center;
      align-content: center;
      width: 203px;
      height: 45px;
    }
    &:after {

      width: 45px;
      height: 45px;

    }
  }
  @media #{$tablet-only}{
    .btn-light-green {
      display: grid;
      justify-content: center;
      align-content: center;
      width: 148px;
      height: 32px;
      span {
        font-size: 11px;
      }
    }
    &:after {

      width: 32px;
      height: 32px;

    }
  }


}



.btn-light-green-t{
  display: grid;
  justify-content: center;
  align-content: center;
  width: 192px;
  height: 52px;
  border-radius: 100px;

  background: $color-light-green;

  span{
    font-family: 42dotSans;
    font-weight: 400;
    font-size: 24px;
    line-height: 34.74px;
    letter-spacing: 0%;
    text-align: center;


  }
  @media #{$mobile-landscape-only}{
    font-size: 40px;
    padding: 0px 0;
    width: 97px;
    height: 25px;
    span{
      font-size: 13px;
    }
  }
  @media #{$tablet-only}{
    font-size: 40px;
    padding: 0px 0;
    width: 97px;
    height: 25px;
    span{
      font-size: 13px;
    }

  }
  @media #{$tablet-landscape-only}{
    font-size: 40px;
    padding: 0px 0;
    width: 112px;
    height: 30px;
    span{
      font-size: 14px;
    }

  }
  @media #{$desktop-only}{
    font-size: 40px;
    padding: 0px 0;
    width: 112px;
    height: 30px;
    span{
      font-size: 14px;
    }
  }

}
h1{
  font-family: 42dotSans;
  font-weight: 500;
  font-size: 80px;
  line-height: 110.00000000000001%;
  letter-spacing: 0%;
  color: white;

  @media  #{$tablet-landscape-only}{
    font-family: 42dotSans;
    font-weight: 500;
    font-size: 40px;
    line-height: 110.00000000000001%;
    letter-spacing: 0%;
    text-align: center;


  }
  @media  #{$desktop-only}{
    font-family: 42dotSans;
    font-weight: 500;
    font-size: 60px;
    line-height: 110.00000000000001%;
    letter-spacing: 0%;

  }
  @media #{$tablet-only}{
      font-size: 29px;
  }

}

.title-top{
  font-family: 42dotSans;
  font-weight: 500;
  font-size: 70px;
  line-height: 110.00000000000001%;
  letter-spacing: 0%;
  text-align: center;
  color: var(--Neutral-800, #3A3A3A);
  padding: 40px 0;
  @media #{$mobile-landscape-only}{
    font-size: 20px;

  }
  @media #{$tablet-only}{
    font-size: 20px;

  }
  @media #{$tablet-landscape-only}{
    font-size: 26px;
    padding: 26px 0;

  }
  @media #{$desktop-only}{
    font-size: 40px;
    padding: 30px 0;

  }
}