$color-light-green:#B3E718;
$color-light-dark:var(--Neutral-800, #3A3A3A);
$color-background-dark-all:var(--Neutral-200, #E8E8E8);
$color-background-dark-faq:var(--Neutral-100, #F1F1F1);
$color-background-dark-modal:#D9D9D9;



$color-red-btn:#ea285e;
$color-green-act:#0f7c82;
$color-pink-act:#ffebeb;



$color-button-blue:#052996;
$color-table-grey:#F5F5F5;
$color-table-grey-2:#E4E4E4;


$padding-blocks-between:120px 0 120px 0;


$my-rhythm:  10px;


@function myrhythm($size) {
  @return $my-rhythm * $size;
}


.padding-vertical-120 {
  padding-top: myrhythm(12);
  padding-bottom: myrhythm(12);
}

@mixin padding-vertical-30(){
  padding-top: myrhythm(3);
  padding-bottom: myrhythm(3);
  @media #{$desktop-only} {
    padding-top: myrhythm(3);
    padding-bottom: myrhythm(3);
  }
  @media #{$tablet-all-only} {
    padding-top: myrhythm(3);
    padding-bottom: myrhythm(3);
  }
  @media #{$mobile-only-two} {
    padding-top: myrhythm(2);
    padding-bottom: myrhythm(2);

  }
}
@mixin padding-vertical-50(){
  padding-top: myrhythm(5);
  padding-bottom: myrhythm(5);
  @media #{$desktop-only} {
    padding-top: myrhythm(5);
    padding-bottom: myrhythm(5);
  }
  @media #{$tablet-all-only} {
    padding-top: myrhythm(4);
    padding-bottom: myrhythm(4);
  }
  @media #{$mobile-only-two} {
    padding-top: myrhythm(2);
    padding-bottom: myrhythm(2);

  }
}
@mixin margin-vertical-30(){
  margin-top: myrhythm(6);
  margin-bottom: myrhythm(6);
  @media #{$desktop-only} {
    margin-top: myrhythm(3);
    margin-bottom: myrhythm(3);
  }
  @media #{$tablet-all-only} {
    margin-top: myrhythm(3);
    margin-bottom: myrhythm(3);
  }
  @media #{$mobile-only-two} {
    margin-top: myrhythm(3);
    margin-bottom: myrhythm(3);
  }
}



@mixin PaddingBetween (){
padding: $padding-blocks-between;
}


