.banner{
  background: url("../img/mainbanner.png");
  background-size: cover;
  padding-bottom: 100px;
  @import "header";
  .banner-wrap{
    max-width: 1050px;
    margin: 0 auto;
    display: grid;
    gap: 35px;
    padding: 65px 0;
    .banner-btn{
      display: flex;
      cursor: pointer;
      &:after{
        content: "";
        background: url("../img/btnarrow.svg")  center no-repeat;
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-content: center;
        background-color: $color-light-green;
        border-radius:100px ;
      }
    }

    .header__blocks{
      display: grid;
      grid-auto-flow: column;
      grid-template-columns: repeat(3,1fr);
      gap: 20px;
      color: white;
      .header__block{
        backdrop-filter: blur(7.486238479614258px);
        background: #FDFDFD4D;
        border-radius: 12.48px;
        display: grid;

        grid-auto-flow: column;
        justify-content: space-between;
        align-content: center;
        gap: 20px;
        padding: 30px 30px ;
        position: relative;
        .header__block-text{
          .header__block-title{
            font-family: Futura New;
            font-weight: 500;
            font-size: 37.43px;
            line-height: 80%;
            letter-spacing: 0%;
          }
          .header__block-subtitle{
            font-family: Futura New;
            font-weight: 500;
            font-size: 24.95px;
            line-height: 110.00000000000001%;
            letter-spacing: 0%;

          }
        }

        .header__block-img{
          //align-self: end;
          position: absolute;
          right: 20px;
          bottom: 20px;
        }
      }
    }


  }

}