.header {
  margin: 0 auto;
  .header-wrap {


    @include container();
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header-mobile-logo {
      display: none;
    }
    .top-menu {
      display: flex;
      list-style-type: none;
      text-decoration: none;
      gap: 20px;

      li {
        color: white;
      }
    }

    .header-info {
      display: grid;
      gap: 5px;

      .header-info__tel {
        justify-self: end;
      }
    }
    .gamburger{
      display: none;
    }
  }
  @media #{$mobile-landscape-only}{
    .header-wrap {
      max-width: 100%;
      width: 100%;
      .header-mobile-logo {
        display: block;
        max-width: 146px;
      }

      .header-logo {
        display: none;
      }
      .top-menu {
        display: none;
      }
      .header-info{
        display: none;
      }
      .gamburger{
        display: block;
      }
    }

  }
  @media #{$tablet-only}{
    .header-wrap {
      max-width: 100%;
      width: 100%;
      .header-mobile-logo {
        display: block;
      }

      .header-logo {
        display: none;
      }
      .top-menu {
        display: none;
      }
      .header-info{
        display: none;
      }
      .gamburger{
        display: block;
      }
    }

  }
  @media #{$tablet-landscape-only} {
    .header-wrap {

      .header-mobile-logo {
        display: block;
      }

      .header-logo {
        display: none;
      }

      .top-menu {
        display: none;
      }
      .header-info{
        display: none;
      }
      .gamburger{
        display: block;
      }
    }


  }
}

.header-top {
  background-color: $color-light-dark;
  position: fixed;
  z-index: 1000;
  width: 100%;
  left: 0;
  @media(min-width: 0) and (max-width: 1199px) {
    background-color: $color-light-green;
  }
}



