.swipergood{
  overflow: hidden;
  @include padding-vertical-50();
  .swiper-wrapper{
    -webkit-transition-timing-function: linear !important;
    transition-timing-function: linear !important;
    .swiper-slide{
      img{
        max-width: 100%;
      }
    }
  }
}